input[type=text], [type=email], [type=tel], input[type=password] {
    width: 100%;
    height: 36px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }

  @keyframes apear {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  // @keyframes disapear {
  //   100% {opacity: 1;}
  //   0% {opacity: 0;}   
  // }
  
  .modal {
    opacity: 0;
    animation: apear 1s forwards;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

    button[type=submit]{
      width: auto;
      align-self: end;
    }

    // .modal-hidden {
    //   opacity: 1;
    //   animation: disapear 2.5s forwards;
    // }

    .close-container {
      text-align: center;
      margin: 20px 0px 0 0px;
      position: relative;
      .close-container_header{
        padding-top: 15px;
      }
    }

    .container{
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 16px;
      a{
        margin: 10px 100px 10px 100px;
        @media (max-width: 500px) {
          margin: 10px 30px 10px 30px;  
        }
      //   border: solid #8D5C34 2px;
      //   border-radius: 8px;
      //   padding: 10px;
      //   margin: 10px 0 10px 0;
      }
      div{
        text-align: center;
        // flex-direction: column;
        // align-items: end;   
        margin: 10px 0 10px;
      }

      .submit{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-items: end;
        align-self: end;
        margin-top: 20px;
      }

      // .container div{
      //   display: flex;
      //   flex-direction: column;
      //   align-items: end;
      // }
      
    }
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: 8px;
    width: max(40%, 300px); /* Could be more or less, depending on screen size */
  }

  .modal-content-small {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    border-radius: 8px;
    max-width: max(40%, 300px); 
    height: max(40%, 300px);
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px 20px 20px;
    background-color: rgb(207, 232, 224);
    font-size: large;
    font-weight: bold;
    div{
      margin-top: 100px;
    }
  }
  
  .close {
    position: absolute;
    right: 15px;
    top: -10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;

    &:hover,
    .close:focus {
      color: rgb(49, 6, 6);
      cursor: pointer;
    }
  }

  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }