@import "reset.css";
@import "formStyle";

$base-font-size: 16px;
$small-font-size: .8rem;
$medium-font-size: 1rem;
$large-font-size: 1.5rem;
$small-header-font-size: 1rem;
$medium-header-font-size: 1.5rem;
$large-header-font-size: 3rem;

@mixin flex-box($direction: column, $justify-content: space-between, $align-items: center, $gap: 2vw, $flex-wrap: nowrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $flex-wrap;
}

html {
  font-size: $base-font-size;
}

h1 {
  font-size: $large-header-font-size; 
  font-weight: bolder;
}

h2 {
  font-size: --medium; 
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 0 0;
  margin: 1vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20vw;
}

.header-left{
  @include flex-box(row);
}

.header-right{
  @include flex-box(row, right, center, 2vw, wrap);
}

.contacts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  // font-size: 16px;
}

.contacts__phone{
  @media (max-width: 768px) {
    font-size:0;
  }
  font-size: 16px;
}

.navigation{
  @include flex-box(row, right, center, 1vw, wrap);
  font-size: 16px;
}

.log-in{
  // margin-left: 2vw;
}

.main {
    flex: auto;
}

.wrapper-first-page{
  background: url(../files/images/CyprusBackgroundHorizontal.jpg) no-repeat;
  @media (max-width: 500px) {
    background: url(../files/images/CyprusBackgroundVertical.jpg) no-repeat;
    background-size: cover;     
  }
  background-size: cover;   
  height: calc(100vh - 50px);
}

.wrapper-first-page span{
  line-height: 1.2;
}

.main-info{
  margin: 5vw 5vw;
  text-align: center;
  color: white;
  // font-size: min(7vw, 3rem);
}

.main-info span{
  background-color: #BB763E;
}

.additional-info{
  display: flex;
  flex-wrap: wrap;
}

.additional-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.apartment-box{
  @include flex-box(row, left, top, 2vw);
}

footer {
    height: 40px;
}

.logo{
  width: max(6vw, 50px);
  height: max(3vw, 25px);;
  object-fit: cover;
}

.img-icon{
  width: max(1.5vw, 20px);
  height: max(1.5vw, 20px); 
}

img {
  height: 100%;
  width: 100%;
  // width: max(15vw, 200px);
  // height: max(15vw, 200px); 
}

.wrapper-complexes{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 300px);

}