@import "reset.css";

@mixin flex-box($direction: column, $justify-content: space-between, $align-items: center, $gap: 2vw){
  display: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}




.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}



.header {
  flex: 0 0;
  margin: 1vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20vw;
}

.header-left{
  @include flex-box();
}

.header-right{
  @include flex-box();
}

.contacts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.contacts__phone{
  @media (max-width: 768px) {
    font-size:0;
  }
}

.navigation{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.log-in{
  margin-left: 2vw;
}

.main {
    flex: auto;
}

.wrapper-first-page{
  background: url(../files/images/CyprusBackgroundHorizontal.jpg) no-repeat;
  @media (max-width: 500px) {
    background: url(../files/images/CyprusBackgroundVertical.jpg) no-repeat;
    background-size: cover;     
  }
  background-size: cover;   
  height: calc(100vh - 50px);
}

.wrapper-first-page span{
  /* display: inline-block; */
  line-height: 1.2;
  /* height: 4rem;
  vertical-align: middle; */
}

.main-info{
  margin: 5vw 5vw;
  text-align: center;
  color: white;
  font-size: min(7vw, 3rem);
}

.main-info span{
  background-color: #BB763E;
}

.additional-info{
  display: flex;
  flex-wrap: wrap;
}

.additional-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

footer {
    height: 40px;
}

.logo{
  /* object-fit; */
  width: max(6vw, 50px);
  height: max(3vw, 25px);;
  object-fit: cover;
}

.img-icon{
  width: max(1.5vw, 20px);
  height: max(1.5vw, 20px); 
}

img {
  height: 100%;
  width: 100%;
}

/////////////////////////////
/// residentialComplexes ///
/////////////////////////////
.complex-box{
  display: grid;

}