<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header-left">
                <div class="logo">
                    <img src="<%= require('./files/images/logo-icon.png') %>" alt="logo Cyprus family">
                </div>
                <section class="contacts">
                    <div class="contacts__email-box">                   
                        <a href="mailto:iliakarabanov@gmail.com">
                            <img src="<%= require('./files/images/email-icon.png') %>" alt="email icon" class="img-icon">
                        </a>
                    </div> 

                    <div class="contacts__instagram-box">                      
                        <a href="https://www.instagram.com/iliakarabano">
                            <img src="<%= require('./files/images/instagram-icon.png') %>" alt="instagram icon" class="img-icon">
                        </a>
                    </div> 
                    <div class="contacts__phone-box">                     
                        <a href="+375333531119" class="contacts__phone">
                            <img src="<%= require('./files/images/phone-icon.png') %>" alt="phone icon" class="img-icon">
                            +375333531119
                        </a>
                    </div>  
                </section>             
            </div>
            <div class="header-right">        
                <nav>
                    <ul class="navigation">
                        <li><a is="router-link" href="/">Главная</a></li>
                        <li><a is="router-link" href="/complexes">Каталог</a></li>
                        <li><a is="router-link" href="/history">Отмеченные</a></li>
                    </ul>
                </nav>
                <div class="log-in">
                    <button onclick="document.getElementById('id-log-in').style.display='block'" style="width:auto;">Войти</button>                
                </div>
            </div>

            <div id="id-log-in" class="modal">      
                <form class="modal-content animate" name="log-in">
                    <div class="close-container">
                        <span onclick="document.getElementById('id-log-in').style.display='none'" class="close" title="Close Modal">&times;</span>
                    </div>
                    <div class="container">
                        <label for="user-phone"><b>Телефон</b></label>
                        <input type="tel" placeholder="Введите телефон" name="user-phone" required>   
                        <ul id = "phoneError" class="error-list"></ul>             
                        <label for="user-email"><b>Электронная почта</b></label>
                        <input type="email" placeholder="Введите e-mail *необязательно" name="user-email">  
                        <ul id = "emailError" class="error-list"></ul>                    
                        <label for="user-name"><b>Имя</b></label>
                        <input type="text" placeholder="Введите имя *необязательно" name="user-name">
                        <ul id = "nameError" class="error-list"></ul>
                        <label for="user-password"><b>Пароль</b></label>
                        <input type="password" placeholder="Введите пароль" name="user-password" required>
                        <ul id = "passwordError" class="error-list"></ul>                     
                        <button type="submit" name='submit'>Войти</button>
                    </div>
                </form>
            </div>

        </header>
        <main class="main">
            <router-outlet>
                <div style="position: absolute; background-color: red; color: white; font-size: 3em; inset: 0;">LOADING</div>
            </router-outlet>
        </main>
        <footer class="footer">
            footer
        </footer>
    </div>
</body>
</html>